<h2 mat-dialog-title>{{ modoCreacion ? 'Nueva Provincia' : 'Editar Provincia' }}</h2>

<div mat-dialog-content>
  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="provincia.nombre" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-3">
    <mat-label>Código</mat-label>
    <input matInput [(ngModel)]="provincia.codigo" />
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="provincia.estado">Activo</mat-slide-toggle>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
</div>
